@import '../../index.scss';

.root_container{
  margin: auto;
  padding: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}
.container_form {
  width: 280px;
  padding: 35px;
  background-color: rgba(0,0,0,0.7);
}
.container_input{
  width:  max-content;
  height: 35px;
  margin: 0px 0px 20px 0px;
}