@import '../../index.scss';

.card_info_root{
  border: 1px solid $cyanTerceary;
  position: absolute;
  width: 200px;
  height: max-content;
  z-index: 2;
  right: 20px;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.9);
}

.cnt_total_m_title{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  background-color: $cyanTerceary;
  height: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.tbl_r_i{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $cyanTerceary;
  &>p{
    margin: 6px 10px 6px 10px;
    font-size: 13px;
    width: 50px;
    &:nth-child(2){
      border-right: 1px solid $cyanTerceary;
      margin: 0;
      padding:0;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}
.icon_info_small{
  float: right;
  &:hover{
    cursor: pointer;
  }
}
.icons_small{
  color: $cyanTerceary;
  border-bottom: 1px solid $cyanTerceary;
  justify-content: flex-end;
  margin: 5px;
  &>svg{
    margin: 5px;
    &:hover{
      cursor: pointer;
      color: $cyanPrimary;
    }
  }
}